Cleaning Data using DROPNA AND FILLNA METHODS
Using dropna and fillna attributes
=> Inplace
=> Axis
=> Thresh

In [1]:
import pandas as pd
import numpy as np

In [2]:
chi = pd.read_csv("./datasets/Sport car price.csv")
print(chi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   Engine Size (L)          997 non-null    object
 4   Horsepower               1007 non-null   object
 5   Torque (lb-ft)           1004 non-null   object
 6   0-60 MPH Time (seconds)  1007 non-null   object
 7   Price (in USD)           1007 non-null   object
dtypes: int64(1), object(7)
memory usage: 63.1+ KB
None

In [11]:
chi_frame = pd.DataFrame(chi)
chi2_frame = pd.DataFrame(chi)
# print(chi_frame.head(5))
# print(chi_frame.info())

# print(chi_frame.dropna().info())
print(chi2_frame)

print(chi2_frame.dropna(inplace=True))
print(chi2_frame)

         Car Make Car Model  Year Engine Size (L) Horsepower Torque (lb-ft)  \
0         Porsche       911  2022               3        379            331
1     Lamborghini   Huracan  2021             5.2        630            443
2         Ferrari   488 GTB  2022             3.9        661            561
3            Audi        R8  2022             5.2        562            406
4         McLaren      720S  2021               4        710            568
...           ...       ...   ...             ...        ...            ...
1002   Koenigsegg     Jesko  2022               5       1280           1106
1003        Lotus     Evija  2021  Electric Motor       1972           1254
1004      McLaren     Senna  2021               4        789            590
1005       Pagani    Huayra  2021               6        764            738
1006        Rimac    Nevera  2021  Electric Motor       1888           1696

     0-60 MPH Time (seconds) Price (in USD)
0                          4        101,200
1                        2.8        274,390
2                          3        333,750
3                        3.2        142,700
4                        2.7        298,000
...                      ...            ...
1002                     2.5      3,000,000
1003                       2      2,000,000
1004                     2.7      1,000,000
1005                       3      2,600,000
1006                    1.85      2,400,000

[1007 rows x 8 columns]
None
         Car Make Car Model  Year Engine Size (L) Horsepower Torque (lb-ft)  \
0         Porsche       911  2022               3        379            331
1     Lamborghini   Huracan  2021             5.2        630            443
2         Ferrari   488 GTB  2022             3.9        661            561
3            Audi        R8  2022             5.2        562            406
4         McLaren      720S  2021               4        710            568
...           ...       ...   ...             ...        ...            ...
1002   Koenigsegg     Jesko  2022               5       1280           1106
1003        Lotus     Evija  2021  Electric Motor       1972           1254
1004      McLaren     Senna  2021               4        789            590
1005       Pagani    Huayra  2021               6        764            738
1006        Rimac    Nevera  2021  Electric Motor       1888           1696

     0-60 MPH Time (seconds) Price (in USD)
0                          4        101,200
1                        2.8        274,390
2                          3        333,750
3                        3.2        142,700
4                        2.7        298,000
...                      ...            ...
1002                     2.5      3,000,000
1003                       2      2,000,000
1004                     2.7      1,000,000
1005                       3      2,600,000
1006                    1.85      2,400,000

[995 rows x 8 columns]

In [18]:
candid = pd.read_csv("./datasets/Sport car price1.csv")
candid_frame = pd.DataFrame(candid)
# print(candid_frame)

# Cleaning via columns
clean_candid_data = candid_frame.dropna(axis=1)
# print(clean_candid_data)

data = {
    "1": [1, 2, np.nan],
    "2": [5, 4, np.nan],
    "3": [1, 2, 3],
    "4": [9, np.nan, 8]
}

data_frame = pd.DataFrame(data)
print(data_frame)

clean_dataframe = data_frame.dropna(thresh=1)

     1    2  3    4
0  1.0  5.0  1  9.0
1  2.0  4.0  2  NaN
2  NaN  NaN  3  8.0

In [22]:
data = {
    "1": [1, 2, np.nan],
    "2": [5, 4, np.nan],
    "3": [1, 2, 3],
    "4": [9, np.nan, 8]
}

candid_framy = pd.DataFrame(data)

print(candid_framy.fillna("Value Filled", inplace=True))
print(candid_framy)

None
              1             2  3             4
0           1.0           5.0  1           9.0
1           2.0           4.0  2  Value Filled
2  Value Filled  Value Filled  3           8.0